<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tekisky Pvd Ltd</title>
</head>
<body>
    <h1>Welcome to tekisky portal</h1>
    <h1>Hi <%=name%></h1>

    <h1>Services</h1>
    <p>We trained resources on MERN stack</p>
    <p>4 months tarining</p>
    <p>develop softwares</p>
</body>
</html>